
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}
.btn-primary{
    background-color: white !important;
    border-color: white !important;
}
.btn-primary:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#sidebar-wrapper {
    padding: 0px,15px,0px,15px;
    margin-right: -450px;
    right: 0;
    width: 430px;
    background: #1A1A1A;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  }

  .sidebar-nav {
    position: absolute;
    top: 50px;
    width: 430px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-nav li {
    line-height: 100px;
    text-indent: 30px;
    border-bottom: 1px solid white;
  }

  #menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    cursor: pointer;
  }

  #sidebar-wrapper.active {
    right: 430px;
    width: 430px;
    cursor: pointer;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }


  /* bottom tool-bar */
  #bottom-toolbar{
    position: fixed;
    bottom: -21px;
    width: 100%;
    height: 120px;
    z-index: 9999;
    background-color: #292727;
  }
  #bottom-toolbar:hover{
    cursor: pointer;
  }
  .toolImg{
    float: left;
    margin-left: 1.6%;
  }
  #restart{
    width:60px;
    height: 80%;
    background-image: url(../images/restart.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
    margin-left: 0px !important;
  }
  #restart:hover{
    opacity: 0.5;
  }
  #detach{
    width:60px;
    height: 90%;
    background-image: url(../images/saw.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #detach:hover{
    opacity: 0.7;
  }
  #scissors{
    width:60px;
    height: 90%;
    background-image: url(../images/scissors.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #scissors:hover{
    opacity: 0.7;
  }
  #cutBar{
    width:60px;
    height: 90%;
    background-image: url(../images/cutWholebar.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #cutBar:hover{
    opacity: 0.7;
  }
  #dustbin{
    width:60px;
    height: 90%;
    background-image: url(../images/dustbin.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #dustbin:hover{
    opacity: 0.7;
  }
  #paint{
    width:60px;
    height: 90%;
    background-image: url(../images/paint.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #paint:hover{
    opacity: 0.7;
  }
  #copy{
    width:60px;
    height: 90%;
    background-image: url(../images/copy.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #copy:hover{
    opacity: 0.7;
  }
  #abc{
    width:60px;
    height: 90%;
    background-image: url(../images/abc.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #abc:hover{
    opacity: 0.7;
  }
  #pencil{
    width:60px;
    height: 90%;
    background-image: url(../images/pencil.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #pencil:hover{
    opacity: 0.7;
  }
  #addBar{
    width:60px;
    height: 90%;
    background-image: url(../images/bar.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #addBar:hover{
    opacity: 0.7;
  }
  #horizontalarrow{
    width:60px;
    height: 90%;
    background-image: url(../images/horizontalarrow.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #horizontalarrow:hover{
    opacity: 0.7;
  }
 #upperdownarrow{
  width:60px;
  height: 90%;
  background-image: url(../images/upperdownarrow.png);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  }
  #upperdownarrow:hover{
    opacity: 0.7;
  }
  #dottedupperdownarrow{
    width:60px;
    height: 90%;
    background-image: url(../images/dottedupperdownarrow.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #dottedupperdownarrow:hover{
    opacity: 0.7;
  }
  #dottedSquare{
    width:60px;
    height: 90%;
    background-image: url(../images/select.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: -2.7px;
  }
  #dottedSquare:hover{
    opacity: 0.7;
  }
  #clrGroup{
    height: 100%;
    width: 18%;
    float: left;
    text-align:center;
    /* margin-top:-8px; */
    margin-left:2%;
    background-color: #1A1A1A;
  }
  #colorPicker{
    height: 100%;
    width: 60px;
    background-image: url('../images/color_picker.png');
    /* cursor:pointer; */
    border: none;
    outline: none;
    margin-top: -7px;
  }
  #colorPicker:hover{
    opacity: 0.7;
  }
  #redPencil{
    border: none;
    outline: none;
    margin-top: -7px;
  }
  #redPencil:hover{
    opacity: 0.7;
  }
  #bluePencil{
    border: none;
    outline: none;
    margin-top: -7px;
  }
  #bluePencil:hover{
    opacity: 0.7;
  }
  #greenPencil{
    border: none;
    outline: none;
    margin-top: -7px;
  }
  #greenPencil:hover{
    opacity: 0.7;
  }
  #orangePencil{
    border: none;
    outline: none;
    margin-top: -7px;
  }
  #orangePencil:hover{
    opacity: 0.7;
  }
  #clrName{
    width: 60px;
    height: 60px;
    background-image: url(../images/colour-txt.png);
    margin-top: -53px;
    margin-left: 40%;
  }
  #download{
    margin-left:2%;
    margin-top:3.5px;
    width:62px;
    height: 90%;
    background-image: url(../images/download.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #download:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #upload{
    width:64px;
    height: 90%;
    background-image: url(../images/upload.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }
  #upload:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #eraser{
    height: 45px;
    width: 45px;
    background-image: url(../images/eraser.png);
    background-size: 100% 100%;
    background-position: center;
    border: none;
    outline: none;
    margin-left: 14px;
  }
  #eraser:hover{
    opacity:0.7;
  }
  #pencilEraser{
    height: 45px;
    width: 45px;
    background-image: url(../images/pencilEraser.png);
    background-size: 100% 100%;
    background-position: center;
    border: none;
    outline: none;
    margin-left: 14px;
  }
  #pencilEraser:hover{
    opacity:0.7;
  }
  #undo{
    height: 45px;
    width: 45px;
    background-image: url(../images/undo.png);
    background-size: 100% 100%;
    background-position: center;
    border: none;
    outline: none;
    margin-left: 16px;
  }
  #undo:hover{
    opacity:0.7;
  }
  #redo{
    height: 45px;
    width: 45px;
    background-image: url(../images/redo.png);
    background-size: 100% 100%;
    background-position: center;
    border: none;
    outline: none;
    margin-left: 16px;
  }
  #redo:hover{
    opacity:0.7;
  }
  #hideToolbar{
    height: 35px;
    width: 35px;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
    background-position: center;
    border: none;
    outline: none;
    margin-left: 20px;
  }
  #hideToolbar:hover{
    /* content: url(../images/cross_hover.png); */
    opacity: 0.7;
  }

  #red:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #yellow:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #blue:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #green:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #black:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #orange:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #linesize{
    width: 100px;
    height: 30px;
    background-color: #AB2567;
    color:white;
    margin-left: 8px;
  }
  #smallline{
    width: 55%;
  }
  #smallline:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #mediumline{
    width: 55%;
  }
  #mediumline:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #bigline{
    width: 55%;
  }
  #bigline:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  #myCanvas{
    background-image:url('');
    background-repeat: no-repeat;
    /* position: absolute;
    z-index: -1; */
  }
  #questionmark{
    width: 20%;
    height: 55px;
  }
  #questionmark:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  /* #fraction{
    width: 20%;
    height: 55px; */
    /* margin-left: 18px; */
  /* } */
  #fraction:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  }

 /* #yellowCar{
    width: 25%;
    height: 40px;
  } */
  #yellowCar:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  } 

   /* #blueCar{
    width: 25%;
    height: 40px;
    margin-left:23px;
  } */
  #blueCar:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .sticker{
    position: relative;
  }
  .sticker:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .isticker{
    width: 30px;
    height: 30px;
    position:absolute;
    visibility:hidden;
  }
  #sidebar-wrapper li{
    margin-top:15px;
  }
  #equal:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #plus:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #minus:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #multiply:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #divider:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
  }


  /* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #292727;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 600px;
    min-height: 200px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    /* border-style: solid;
    border-width: 10px;
    border-color: #53BE88; */
    padding: 15px 5%;
}
/* .popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
} */
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}


textarea {
  width: 100%;
  /* height: 150px; */
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top:20px;
}

select {
  width: 40%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
#font-style {
  float: left;
  height: 12px;
  margin-top:10px;
}
#font-size {
  float: right;
  height: 12px;
  margin-top:10px;
}

#confirmBtn {
  margin-top: 20px;
  background-color: white; 
  color: black; 
  width: 100px;
  height: 40px;
  /* border: 3px solid #53BE88; */
  float: left;
  border-radius: 5px;
  margin-left: 50px;
}
#confirmBtn:hover{
  opacity: 0.5;
}
#noConfirmBtn {
  margin-top: 20px;
  background-color: rgb(41, 43, 44); 
  color: white; 
  width: 100px;
  height: 40px;
  /* border: 3px solid #53BE88; */
  float: right;
  border-radius: 5px;
  margin-right: 50px;
}
#noConfirmBtn:hover{
  opacity: 0.5;
  color: white;
}
/* Popup box BEGIN */
/*restart pop up*/
.bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.bkgr_fricc > div {
    background-color: #292727;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 500px;
    min-height: 200px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    /* border-style: solid;
    border-width: 10px;
    border-color: #53BE88; */
    padding: 15px 5%;
}
#yesBtn {
  margin-top: 20px;
  margin-left: -13px;
  background-color: white; 
  color: black; 
  width: 100px;
  height: 40px;
  border-radius: 5px;
  /* border: 3px solid #53BE88; */
}
#yesBtn:hover{
  /* background-color: #53BE88;
  color: white; */
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#noBtn {
  margin-top: 20px;
  margin-left: 13px;
  background-color: #292b2c; 
  color: white; 
  width: 100px;
  height: 40px;
  border-radius: 5px;
  /* border: 3px solid #53BE88; */
}
#noBtn:hover{
  /* background-color: #53BE88;
  color: white; */
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* this is for copying pop up */
.bkgr_fricc_copy{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.bkgr_fricc_copy .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.bkgr_fricc_copy > div {
  background-color: #292727;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 600px;
  min-height: 200px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  /* border-style: solid;
  border-width: 10px;
  border-color: #53BE88; */
  padding: 15px 5%;
}

#confirmCopy {
  margin-top: 20px;
  background-color: white; 
  color: black; 
  width: 100px;
  height: 40px;
  border-radius: 5px;
  float: left;
  margin-left: 50px;
/* border: 3px solid #53BE88; */
}
#confirmCopy:hover{
  opacity: 0.7;
  /* color: white; */
}
#noconfirmCopy {
  margin-top: 20px;
  background-color: #292b2c; 
  color: white; 
  width: 100px;
  height: 40px;
  border-radius: 5px;
  float: right;
  margin-right: 50px;
  /* border: 3px solid #53BE88; */
}
#noconfirmCopy:hover{
  opacity: 0.7;
  /* color: white; */
  }

button:focus {
  outline: transparent !important;
}

/* //draggable tools for pencil */

#pencilToolBox {
  position: absolute;
  z-index: 99;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 30px;
  background-color: #1A1A1A;
  /* border-color: #53BE88; */
  display: none;
  /* right: 0px; */
  top:50px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
} 


.container-fluid.mobile {
  display: none;
}
#text{
  white-space: pre-wrap;
  width: 100%;
}
@media (min-width : 300px) and (max-width : 768px)
{
  .container-fluid.desktop {display: none;}	
  .container-fluid.mobile {display: block;}	
  #bottom-toolbar {bottom: -21px;height: auto;padding-top: 10px;padding-left: 0;}	
  #bottom-toolbar .container-fluid > .row > div {display: inline-block;padding: 0 10px;width: auto;height: auto;}	
  #bottom-toolbar .container-fluid > .row .col-sm-1 {    display: inline-block;width: 30px;height: 30px;margin: 0px auto 5px;padding: 0;    vertical-align: top;}
  #bottom-toolbar .container-fluid > .row .col-sm-1 div {display: inline-block;width: 30px;height: 30px;background-size: auto 100% !important;margin: 0;background-repeat: no-repeat !important;}
  #bottom-toolbar .container-fluid > .row > div#toolSec {width: 100%;}
  .col-sm-5.col-md-5.col-lg-5.tool-2 .row > div {width: auto;height: 40px;}
  #colorPicker {width: 30px;height: 30px;}
  #clrGroup img {height: auto;width: 8px;margin: 0 4px !important;}
  img.divider {display: none;}
  #addBar {height: 30px;}
  #bottom-toolbar .container-fluid > .row .col-sm-1 div#horizontalarrow {
    background-size: 100% !important;
    width: 50px;
    margin-left: -32px;
    margin-top: 3px;
}

.col-sm-5.col-md-5.col-lg-5.tool-2 {margin: 0 auto;padding: 0 25px !important;}


}
@media screen and (max-width: 600px) {
  #bottom-toolbar .toolImg{
    display: none;
  }
  #bottom-toolbar #clrGroup{
    display: none;
  }
}
@media screen and (max-width: 1700px) {
  /* #bottom-toolbar .toolImg {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .bottom-tool.responsive .toolImg {
    float: none;
    display: block;
    text-align: left;
  } */
  #bottom-toolbar .toolImg{
    margin-left: 0.9%;
  }
}
@media screen and (max-width: 1800px) {
  #bottom-toolbar .toolImg{
    margin-left: 1%;
  }
}
@media screen and (max-width: 1500px) {
  #bottom-toolbar .toolImg{
    margin-left: 0.6%;
  }
  #clrGroup{
    margin-left: 0px;
  }
  .clr{
    margin-left:-17px;
  }
}
@media screen and (max-height:800px){
  #sidebar-wrapper li{
    margin-top:0px;
  }
}
/* @media screen and (max-height:650px){
  #sidebar-wrapper li{
    margin-top:1px;
  }
} */



  





